@media screen and (max-width: 1000px) {
  div.desc, div.mail {
    width: 90%;
    max-width: 90%;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: black;
  position: relative;
  color: white;
  font-family: Calibri;
  font-size: 16px;
}

h1 {
  font-size: 55px; 
  text-align: center;
  max-width:90%;
  word-wrap: break-word;
}

#background {
  /*background-image: url('https://cdn.discordapp.com/attachments/375346204172877825/1018656395484209243/zaszlo_2.jpg');*/
  background-image: url('background.jpg');
  height: 100%;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  color: white; 
  margin: 0 auto; 
  width: 60%; 
  text-align: center;
  line-height: 1.25;
}

.desc h2 {
  margin: 0;
}

form {
  margin: 3rem 0 0 0;
  text-align: center;
}

select {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: .2em;
  background: #e9e9ed80;
  color: #1b1b1b;
}

textarea {
  display: none;
}

input[type="text"] {
  display: none;
}

#send {
  display: block;
  margin: 1rem auto 1.5rem auto;
  background: radial-gradient(#9b0101, #b71616);
  color: white;
  font-weight: 600;
  border-radius: 50pc;
  border-color: firebrick;
  padding: 1em 2em;
  font-size: 20px;
  cursor: pointer;
  transition: all 50ms ease-in-out;
  border-style: none;
  text-decoration: none;
}

#send.disabled {
  background: gray;
  opacity: .9;
  cursor: default;
  pointer-events: none;
  color: lightgray;
}

#send:hover, #send:focus, #send:focus-within, #send:target {
  background: #b71616 !important;
  background: radial-gradient(#b20c0c, #d90b0b) !important;
}

#send:active {
box-shadow: inset 0px 0px 4px 0px #470f0f;
background: radial-gradient(#c51717, #f21e1e) !important;
}

.mail {
  margin: 0 5em;
  background: rgba(211, 211, 211, .9);
  border-radius: 5px; /*! border: 1px solid gray; */
  box-shadow: 0px 0px 2px 0px gray;
  padding: 1em;
  box-sizing: border-box;
  color: #d4d1d1;
  line-height: 2;
  margin-bottom: 1em;
  color: #1b1b1b;
  max-width: 75%;
}

.mail_head > div {
  font-size: 18px; 
  display: flex;
}

.mail_head > div > div:first-of-type {
  color: darkslategray;
  width: 3em;
}

#CC {
  display:none;
}

footer {
  padding: 5px 10px;
  background: rgba(150, 150, 150, 0.9);
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.svg {
  fill: gray;
  transition: all 100ms ease-in-out;
  float: right;
}

.svg svg {
  height: 20px;
}

.svg:hover, .svg:focus, .svg:target {
  cursor: pointer;
  transform: scale(1.2);
}

.svg:active, .svg:focus {
  fill: black;
}

#copy_success, #copy_fail {
  position: fixed;
  background: whitesmoke;
  border: 1px solid lightgray;
  padding: .5em;
  top: 10px;
  line-height: 100%;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  color:black;
  visibility: hidden;
}

#content div.visible {
  opacity: 1;
}